---
platform: linux

image_resource:
  type: registry-image
  source: {repository: pcfplatformrecovery/backup-and-restore}

inputs:
- name: bosh-backup-and-restore

outputs:
- name: source-file

params:
  BOSH_ENVIRONMENT:
  BOSH_CLIENT:
  BOSH_CLIENT_SECRET:
  BOSH_CA_CERT:
  BOSH_GW_HOST:
  BOSH_GW_USER:
  BOSH_GW_PRIVATE_KEY:

run:
  path: bosh-backup-and-restore/ci/tasks/bosh-deployment-resource-source-file-adapter/task.sh
