---
platform: linux

image_resource:
  type: registry-image
  source: {repository: pcfplatformrecovery/backup-and-restore}

inputs:
- name: bosh-backup-and-restore
- name: release-candidate-version
- name: release-version

params:
  GITHUB_SDK_PRIVATE_KEY:

outputs:
- name: bbr-build
- name: bbr-release

run:
  path: bosh-backup-and-restore/ci/tasks/bbr-build/task.sh
