platform: linux
image_resource:
  type: registry-image
  source:
    repository: cryogenics/essentials
    tag: 0.1.53
inputs:
  - name: bosh-backup-and-restore
params:
  BOSH_ENVIRONMENT:
  BOSH_CLIENT:
  BOSH_CLIENT_SECRET:
  BOSH_CA_CERT:
  BOSH_GW_HOST:
  BOSH_GW_PRIVATE_KEY:
  BOSH_GW_USER:
  GITHUB_SDK_PRIVATE_KEY:
run:
  path: bosh-backup-and-restore/ci/tasks/bbr-system-deployment/task.sh
