platform: linux

image_resource:
  type: registry-image
  source:
    repository: pcfplatformrecovery/backup-and-restore-minimal

inputs:
- name: backup-and-restore-minimal
- name: ci
- name: golang-docker-image

outputs:
- name: bumped-backup-and-restore-minimal

run:
  path: ci/ci/tasks/bump-dependencies/task.sh
