on:
  pull_request:
    types: [ assigned, synchronize ]
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-bbr-unit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: docker compose run bbr-unit
